<div class="text-center mt-3">
    <h2>Your matches - {{pagination?.totalItems}} found</h2>
</div>

<div class="container mt-3">
    <form #form="ngForm" (ngSubmit)="loadMembers()" class="d-flex mb-3" autocomplete="off">
        <div class="d-flex mx-2">
            <label class="col-form-label me-2">Age from:</label>
            <input type="number" style="width: 70px;" class="form-control ms-1" name="minAge" [(ngModel)]="userParams.minAge">
        </div>
        <div class="d-flex px-2">
            <label class="col-form-label me-2">Age to:</label>
            <input type="number" style="width: 70px;" class="form-control ms-1" name="maxAge" [(ngModel)]="userParams.maxAge">
        </div>
        <div class="d-flex px-2">
            <label class="col-form-label me-2">Show :</label>
            <select name="gender" style="width: 130px;" [(ngModel)]="userParams.gender" class="form-control ms-1">
                <option *ngFor="let gender of genderList" value="{{gender.value}}">
                    {{gender.display}}
                </option>
            </select>
        </div>

        <button class="btn btn-primary ms-1" type="submit">Apply Filters</button>
        <button (click)="resetMember()" class="btn btn-info ms-1" type="submit">Reset Filters</button>
        <div class="col">
            <div class="btn-group float-end">
                <button type="button" name="orderBy" class="btn btn-primary" 
                    btnRadio="lastActive" (click)="loadMembers()" [(ngModel)]="userParams.orderBy">Last Active</button>    
                <button type="button" name="orderBy" class="btn btn-primary" 
                    btnRadio="created" (click)="loadMembers()" [(ngModel)]="userParams.orderBy">Newest Members</button>    
            </div>
        </div>
    </form>
</div>

<div class="row">
    <div *ngFor="let member of members" class="col-2">
        <app-member-card [member]="member"></app-member-card>
    </div>
</div>

<div class="d-flex justify-content-center" *ngIf="pagination">
    <pagination 
        [boundaryLinks]="true" 
        [totalItems]="pagination.totalItems" 
        [itemsPerPage]="pagination.itemsPerPage"
        [(ngModel)]="pagination.currentPage" 
        (pageChanged)="pageChanged($event)"
        class="pagination-sm"
        previousText="&lsaquo;" 
        nextText="&rsaquo;" 
        firstText="&laquo;" 
        lastText="&raquo;">
    </pagination>
</div>